.landingpage{
    height: 696px;
    background-image: url("../../img/landingpage.png");
    background-position: bottom -20px right 0px;
    background-repeat: no-repeat; 
}

._wrapper{
    max-width: 1440px;
}