@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext");
/* --------------------Иконочный---------------------------------------- */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?kqiv1a");
  src: url("../fonts/icons.eot?kqiv1a#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?kqiv1a") format("truetype"), url("../fonts/icons.woff?kqiv1a") format("woff"), url("../fonts/icons.svg?kqiv1a#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-home:before {
  content: "\e900";
}

._icon-user:before {
  content: "\e901";
}

._container {
  max-width: 1160px;
  margin: 0 auto;
}

._wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  max-width: 1440px;
  height: 99px;
  background-color: #C4C4C4;
  border-radius: 0px 0px 20px 20px;
}
.header__content {
  max-width: 1220px;
  height: 100px;
  display: grid;
  grid-template-columns: 284px 542px 394px;
  align-items: center;
}
.header__title {
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.header__menu-item {
  padding-left: 40px;
}
.header__iconsmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
.header__iconsmenu-a {
  font-size: 28px;
  color: #000000;
}
.header__iconsmenu-btn {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #000000;
  border-radius: 10px;
  background-color: #8D8D8D;
  padding: 11px 19px;
  /* отступы от текста до краев */
  text-decoration: none;
  /* убираем декорирование */
  height: 42px;
  width: 160px;
}
.header__iconsmenu-item {
  padding-left: 30px;
}

* {
  font-family: "Intern", sans-serif;
  margin: 0 auto;
}

.landingpage {
  height: 696px;
  /* background-image: url("");
  background-repeat: no-repeat; */
  /* background-color: red; */
}

.info {
  background: #C4C4C4;
  padding: 59px 0px;
  height: 549px;
}
.info__container {
  background: #F0F0F0;
  border-radius: 20px;
  height: 100%;
}

.personalArea_container {
  width: 1014px;
}

.personalArea__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
}
.personalArea__title-children {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}

.personalArea__children-container {
  width: 861px;
  padding-top: 66px;
}

.personalArea__children-container li {
  list-style-type: none;
}

.personalArea__main {
  margin-top: 48px;
  background-color: #0eac99;
  border-radius: 20px;
}

.personalArea_addedChildren-children {
  width: 393px;
  height: 236px;
  border: 2px solid white;
  border-radius: 40px;
  margin-top: 20px;
}

.circle {
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 3px #fff;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  background: #aaaaaa4f;
}

.circle:hover {
  background: #6363634f;
}

.circle:active {
  background: radial-gradient(#aaa, #fff);
}

.circle:before,
.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* PLUS */
.circle.plus:before,
.circle.plus:after {
  background: black;
}

.circle.plus:before {
  width: 2px;
  margin: 3px auto;
}

.circle.plus:after {
  margin: auto 3px;
  height: 2px;
}

/* Форма */
.personalArea-form {
  width: 751px;
  height: 376px;
  background-color: red;
  border-radius: 20px;
}

/*# sourceMappingURL=main.css.map */
