._wrapper{
    max-width: 1440px;
}

.formBlock {
    margin-top: 94px;
    width: 538px;
    height: 544px;
}

.routerLinkAuth {
    padding-left: 50px;
    text-decoration: underline;
    color: red;
}