
  
  .drop_area {
    width: 400px;
    height: 400px;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .area {
    margin-top: 94px;
    margin-left: 30px;
  }
  