.landingpage{
    height: 696px;
    background-image: url("../img/landingpage.jpg");
    background-position: bottom -20px right -130px;
    background-repeat: no-repeat; 
}

._wrapper{
    max-width: 1440px;
}