.routerLinkAuth {
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
}

.routerLinkAuth-text {
  color: #0f5c53;
}

.errorText {
  color: red;
  text-align: center;
}

.login_title {
  font-size: 28px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-button {
  width: 210px;
  height: 47px;
  background-color: #7cc7be;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 50px;
}

.login-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-button:active {
  box-shadow: none;
}
