.personalArea_container {
  width: 1014px;
  margin-top: 147px;
  position: relative;
}

.personalArea__parent {
  margin-top: 40px;
  background-color: #0eac99;
  border-radius: 0px 0px 20px 20px;
  min-height: 298px;
}

.personalArea__main {
  margin-top: 110px;
  background-color: #0eac99;
  border-radius: 20px;
  min-height: 758px;
  padding-top: 56px;
}

.personalArea__children-container {
  width: 861px;
  padding-top: 66px;
  padding-bottom: 50px;
}
.personalArea__children-container li {
  list-style-type: none;
}

.personalArea__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  &-children {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #ffffff;
    padding-left: 96px;
  }
}

/* Форма */
.personalArea-form {
  width: 798px;
  height: 556px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  margin-top: 25px;
}

.circle-crossbtn {
  float: right;
  padding-top: 42px;
  padding-right: 31px;
}

.personalArea-form__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
  text-align: center;
  padding-top: 56px;
}

.personalArea-form__main {
  width: 604px;
  height: 386px;
  margin-top: 52px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.personalArea-form__radio {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 148px;
}

input[type="radio"]:after {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  top: -5px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #b9b9b9;
}

input[type="radio"]:checked:after {
  background-color: #000000;
  border: 6px solid #b9b9b9;
  width: 16px;
  height: 16px;
}

.personalArea-form__name {
  width: 218px;
  height: 36px;
  border: 3px solid #0eac99;
  border-radius: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
}

.personalArea-form__ptitle {
  font-style: normal;
  font-weight: regular;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.personalArea-form__btn {
  background-color: #0eac99;
  height: 60px;
  width: 275px;
  border-radius: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 39px;
}

.personalArea-form__btn {
  background-color: #0eac99;
  height: 60px;
  width: 275px;
  border-radius: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 39px;
}

.personalArea-form__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.personalArea-form__btn:active {
  box-shadow: none;
}

//ChildCard
.personalArea_addedChildren-children {
  width: 393px;
  height: 236px;
  border: 3px solid #c4c4c4;
  border-radius: 40px;
  margin-top: 20px;
}

.childPlaceholder {
  border-radius: 100%;
  border: none;
  height: 171px;
  width: 171px;
}

.personalArea_addedChildren-info {
  width: 150px;
  height: 100%;
  float: right;
}

.personalArea_addedChildren-wrapper {
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
}

.personalArea_addedChildren-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 27px;
}
