._wrapper {
    max-width: 1440px;
  }
  
  .formBlock {
    margin-top: 94px;
    width: 538px;
    height: 544px;
  }
  
  
  .errorText {
    color: red;
    text-align: center;
  }
  
  .registartion-checkbox {
    padding-top: 48px;
  }